{% extends "br_glob_base.html" %}
{% load graph_extras %}

{% block extra_css %}
{% endblock %}
{% block extra_js %}
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("jquery", "1");
</script>
<!--[if IE]><script type="text/javascript" src="{{ MEDIA_URL }}/js/excanvas.js"></script><![endif]-->

<script src="{{ MEDIA_URL }}/js/primer/primer.js" type="application/x-javascript"></script>
<script src="{{ MEDIA_URL }}/js/br_graph/graph.js" type="application/x-javascript"></script>
{% endblock %}


{% block content %}
<div class="container_16">
{% block extra_content_top %}
<form action="/better_represent/" method="POST">
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>
{% endblock %}
{% draw_graph reps 3 %}
{% comment %}
    <h1>In the News: Last Days</h1>
{% endcomment %}
    <div class="grid_5">
    <ol class="reps-pop">
    {% for rep in reps %}
        <li>
            <dl class="sparklist clearfix">
                <dt>
                    <span class="total {{rep.party.name}}">{{ rep.stats__count }} <small>stor{{ rep.stats__count|pluralize:"y,ies"}}</small></span> 
                </dt>
                <dd class="rep">
                   <a href="{{ rep.get_absolute_url }}" class="{{ rep|slugify }}">{{ rep }}</a>
                </dd>

                <dd>
                    <ol class="sparkline">
                    {% for day in rep.stats_by_day %}
                        {% if rep.stats__max %}
                       <li class="index"><span class="count" style="height: {% widthratio day.num_stats rep.stats__max 100 %}%">{{ day.num_stats }} {{ rep.stats__max }}</span></li>
                        {% endif %}
                    {% endfor %}
                    </ol> 
                </dd>
            </dl>
        </li>
    {% endfor %}
    </ol>
    {% block extra_content %}

    {% endblock %}
    </div>
{% endblock %}
